<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://xmlns.jcp.org/jsf/html" xml:lang="en" lang="en">
<h:head>
    <title>Secured welcome page</title>
</h:head>
<h:body>
    <h:form>
        ADMIN PAGE
        <h3>Welcome #{loginBean.username}, you are an #{loginBean.role}</h3>
        <br/>
        <h:outputText value="This is a secured welcome page!"/>
        <br/>
        <h:commandLink action="#{loginBean.doLogin}" value="Go to User page"/>
        <br/>
        <h:commandLink action="#{loginBean.doLogout}" value="Logout"/>
    </h:form>
</h:body>
</html>