<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<h:head>
    <title>Info page</title>
</h:head>
<h:body>
    <h:form>
        <h3>Welcome</h3>
        <br/>
        <h:outputText value="This is an info page. Everyone has access to it!"/>
        <br/>
        <h:commandLink action="#{navigationBean.redirectToWelcome}" value="Secured Welcome page"/>
    </h:form>
</h:body>
</html>
