<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core" xml:lang="en" lang="en">
<h:head>
    <title>Login form</title>
</h:head>
<h:body>
    <h3>Register here</h3>
    <h:form id="register-form">
        <h:outputText value="username:"/>
        <h:inputText value="#{loginBean.username}" id="register_username"/>
        <br/>
        <h:outputText value="password:"/>
        <h:inputSecret value="#{loginBean.password}" id="register_password"/>
        <br/>
        <h:selectOneMenu value="#{loginBean.role}">
            <f:selectItem itemValue="user" itemLabel="User" />
            <f:selectItem itemValue="admin" itemLabel="Admin" />
        </h:selectOneMenu>
        <br/>
        <h:commandButton id="register_button" value="Register" action="#{loginBean.doRegister}"/>
        <br/>
        <h:commandLink action="#{navigationBean.redirectToInfo}" value="Info page"/>
        <br/>
    </h:form>

    <h3>Login here</h3>
    <h:form id="login-form">
        <h:outputText value="username:"/>
        <h:inputText value="#{loginBean.username}" id="username"/>
        <br/>
        <h:outputText value="password:"/>
        <h:inputSecret value="#{loginBean.password}" id="password"/>
        <br/>
        <h:commandButton id="button" value="Login" action="#{loginBean.doLogin}"/>
        <br/>
        <h:commandLink action="#{navigationBean.redirectToInfo}" value="Info page"/>
        <br/>
        <h:messages/>
        <br/>
    </h:form>
</h:body>
</html>